body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    display: flex;
    justify-content: space-between;
}

#map {
    width: 75%;
    height: 500px;
}

#details {
    width: 25%;
    height: 500px;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}
