/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --web-wash: #111111;
  --primary: #ffffff;
  --secondary: #cdcbd1;
  --ternary: #151515;
  --gray: rgba(205, 203, 209, 0.04);
  --border: #eaeaea;
  --accent: #69e584;
  --primary-font: 'Inter', sans-serif;
}
