.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 20px;
    margin: 50px;
}

.hole {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    position: relative;
}

.mole {
    width: 80px;
    height: 80px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.special-mole {
    background-color: gold;
}
