body{
    background-color: aliceblue;
    padding: 40px;
    background-size: cover;
    border-radius: 5px;
    height: 50vh;
  }
  #countdown {
    text-align: center;
  }
  
  .image{
    width: 100%;
    flex-basis: 35%;
  }
  
  .time-table{
    display:inline-table;
    margin-top: 100px;
  } 
  .time-table div{
    border-bottom: 2px double;
    background: rgba(220, 250, 250, 0.265);
    padding: 40px;
    border-radius: 100px;
}

  #timer {
    display: flex;
    justify-content: center;
  }
  
  #timer div {
    margin: 0 10px;
  }
  
  #timer span {
    display: block;
    font-size: 24px;
  }