*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    overflow: hidden;
    background: black;
}
.header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.backgrounddesigns{
    position: absolute;
    width: 100%;
    height: 100vh;
    font-size: 20rem;
    font-weight: bolder;
    z-index: -1;

}

.backgrounddesigns span{
    background: linear-gradient(70deg, #ffffff, #c639f5ec);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.backgrounddesigns .banner{
    position: absolute;
    right: 45px;
    opacity: 90%;
    border-width: 2px;
}

.backgrounddesigns .toptext{
    position: absolute;
    top: -75px;
    opacity: 85%;
    margin-bottom: 40px;
}

.backgrounddesigns .bottomtext{
    position: absolute;
    bottom: -75px;
    right: -10px;
    opacity: 85%;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    height: 140px;
}

.brand img{
    width: 90px;
}

.navlinks{
    display: flex;
    gap: 50px;
    list-style: none;
}

.navlinks li a {
    text-decoration: none;
    color: rgb(243, 239, 244);
}

nav .navlinks li a:hover{
    color:rgb(244, 142, 220);
    font-size: 1.02rem;
}

.content {
    align-items: left;
    justify-content: space-around;
    margin: 0 20px;
    margin-top: 20px;
    margin-bottom: 700px;
}

.content .text h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
    margin-top: 70px;
    color: rgb(255, 247, 247);
    margin-top: 125px;
    font-weight: 700;
}

.content .text h4{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(207, 10, 238, 0.947);
    margin-bottom: 17px;
    font-weight: 100;
}

.content .text p{
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 50px;
    color:rgba(253, 253, 253, 0.911);
    font-weight: 400;
    padding-bottom: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content .reg{
    font-size: 12px;
    color: rgb(243, 110, 176);
    margin-bottom: -90px;
    font-style: oblique;
}

.content .button{
    background: linear-gradient(80deg, #de228a, #ae28fccf);
    background-clip: border-box;
    border-radius: 20px;
    width: 130px;
    height: 50px;
    border-width: 0;
    color: #ffffff;
    margin-left: 10px;
    font-size: 14px;
}

.content .text .banner{
    display: flex;
    justify-content: space-between;
    inline-size: 20px;

}