* {
	padding: 0;
	margin: 0;
	
} 
.bg{
	background: url(breakout_bg.png) no-repeat;
	background-size: cover;
	height:100%;
	display:block;
}
.back-section{
	background-color: #22b3f7;
	padding: 10px 0 8px 0;
}
.back{
	font-size: 1em;
	padding: 0.5em 1em;
	border-radius: 10px;
	background-color: #0a0027;
	display: block;
	font-family: "Kanit";
	width: 5%;
  }
.back>a{
	text-decoration: none;
	color: white;
}
#myCanvas {
	display: block;
	margin: 0 auto;
}
::-webkit-scrollbar {
	width:0px;
  }
  
  
