

body {
  background-color: black;
  margin: 0;
  font-family: 'SF Distant Galaxy';
}


/*.btn {
	position: absolute;
	top: 300px;
  left:520px;
  height: 70px;
  width: 500px;
  font-size: 1.8rem;
	text-align: center;
	z-index: 100;
	display:block;
  font-size: 1.8rem;
  font-family: Ubuntu;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.299);
  color: aqua;
  border-radius: 25px;
  border: 2px solid rgb(110, 249, 249);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.501);
}
.btn a{ 
  text-decoration: none;
  color: aqua;
}
*/



.body { 
  height:400px;
  width: 550px;
  border: 2px solid rgb(28, 238, 238);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.456);
  display: flex;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
	top: 170px;
  left:520px;
  background-color: rgba(0, 0, 0, 0.193);

}
.heading h1{ 
     font-size: 1.8rem;
     font-family: Ubuntu;
     font-weight: 600;
     color: #f38f7eed;
     margin-top: 20px;
     padding: 10px 10px;
}
.heading span {
  color:#16d4ed;
  margin-top: 20px;
  padding: 10px 10px;
}
#imageUrl {
  width: 290px;
  height: 45px;
  font-family: Ubuntu;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  position: relative;
  margin-top: 30px;
}

#imageUrl:valid {
  border-color:#f38f7eed;
  color: #f38f7eed;
  box-shadow: 2px 2px 8px 1px #f38f7eed;
}

#imageUrl:invalid {
  border-color: #16d4ed;
  color:#16d4ed;
  box-shadow: 2px 2px 8px 1px #16d4ed;
  /* translate: -8px 8px 0px 0px; */
}

.text {
  margin-top: 10px;
  color: black;
}

.btn {
  background-color: #00BFA6;
  padding: 14px 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #00BFA6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
  margin-top: 30px;
  font-family: Ubuntu;
  margin-bottom: 25px;
 }
 
 .btn span:last-child {
  display: none;
 }
 
 .btn:hover {
  transition: .4s;
  border: 2px dashed #00BFA6;
  background-color: #fff;
  color: #00BFA6;
 }
 
 .btn:active {
  background-color: #87dbd0;
 }
 
 
.tag a { 
  margin-top: 40px;
  font-size: 1rem;
  font-family: Ubuntu;
  text-decoration: none;
  color: #16d4ed;
}

.tag a:hover{
  text-decoration: underline;
  color: #f38f7eed ;
}

@media screen and (max-width: 600px) {
  .body{
    width:350px;
    height: 500px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.245);
  }
  .heading h1{
    font-size: 1.5rem;
    margin-top: 40px;
  }
  #imageUrl{
    margin-top: 50px;
    
  }
  .btn{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
}