body{
    margin:0 px;
    padding: 0 px;
    font-family: 'Press Start 2P', cursive;
    background-color: #011F3F;
    color: #FEF2BF;
    font-size: 15px;
}
h1{
    text-align: center;
    margin: 4%;
}
.container{
    padding: 50px;
    margin: 0px;
    display: inline;
}
.row1{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content:center;
}
.row2{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content:center;
}
 #green{
    background-color: green;
    border: 10px solid black;
    border-radius: 20%;
    margin: 25px;
}
#red{
    background-color: red;
    border: 10px solid black;
    border-radius: 20%;
    margin: 25px;
}
#yellow{
    background-color: yellow;
    border: 10px solid black;
    border-radius: 20%;
    margin: 25px;
}
#blue{
    background-color: blue;
    border: 10px solid black;
    border-radius: 20%;
    margin: 25px;
}
button{
    width: 220px;
    height: 220px;;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  