body{
    text-align:center;
}
.btn{
    height:200px;
    width:200px;
    border-radius:20%;
    border:5px solid black;
    margin:2.5rem;
}
.btn-container{
    display:flex;
    justify-content: center;
}
.red{
    background-color: rgb(233, 139, 139);
}
.blue{
    background-color: rgb(136, 136, 243);
}
.orange{
    background-color: rgb(243, 198, 114);
}
.purple{
    background-color: rgb(234, 121, 234);
}
.flash{
    background-color: white;
}
.userflash {
    background-color: green;
}