body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;

}

.navbar {
    background-color: #343a40;
    padding: 1rem;
}

.navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-toggler {
    background-color: #ffffff;
}

.navbar-toggler-icon {
    color: #343a40;
}

.navbar-nav {
    margin-top: 10px;
}

.nav-item {
    margin-right: 10px;
}

.form-inline {
    display: flex;
    align-items: center;
}

.form-control {
    margin-right: 10px;
}

.container {
    max-width: 800px;
}

.card {
    margin-top: 20px;
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: .8rem;
    border-radius: .3rem;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

hr {
    border: 1px solid #65ebe9;
    margin: 20px 0;
}

h1 {
    font-size: 2rem;
    opacity: .5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #eeeeee;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: .5rem;
}