body {
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #825CFF;
  height: 100vh;
}
.popit {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  width: 425px;
  height: 425px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pieces {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.circle {
  cursor: pointer;
  width: 14vw;
  height: 14vw;
  max-width:65px;
  max-height: 65px;
  margin: 3px;
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: inset 8px 8px 8px rgba(255, 255, 255, 0.3),
    inset -8px -8px 8px rgba(0, 0, 0, 0.25);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.pressed {
  box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.25),
    inset -8px -8px 8px rgba(255, 255, 255, 0.3);
}
.r {
  background-color: #f23c39;
}
.o {
  background-color: #fb8f17;
}
.y {
  background-color: #fcf620;
}
.g {
  background-color: #69d437;
}
.b {
  background-color: #3cc1f6;
}
.p {
  background-color: #bca3f6;
}