body{
    background-color: #c0d3cf;
  }
  
  #calculator {
      width: 400px;
      height: 570px;
      margin: 100px auto;
      background-color: #797373;
      color: #fff;
      border-radius: 10px;
      border-radius: 20px;
      box-shadow: 10px 10px 15px .1px black;
    }
  
    .display {
      width: 100%;
      height: 80px;
      background-color: #4e5a49;
      font-size: 36px;
      text-align: right;
      padding: 20px;
      box-sizing: border-box;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
     font-weight: bolder;
     font-family: cursive;
    }
  
    .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      padding: 20px;
    }
  
    button {
      width: 100%;
      height: 70px;
      font-size: 24px;
      background-color: #fff;
      color: #333;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      filter: drop-shadow(10px 10px 10px rgb(19, 24, 19));
      font-weight: bolder;
    }
    button:hover{
      transform: scale(1.05);
    }
  
    .operator {
      background-color: #f39c12;
      color: #fff;
    }  