* {
  box-sizing: border-box;
}

body {
  background-image: url('Background.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0;
}

h1 {
    color: rgba(4, 46, 46, 0.647);
    font-size: 8rem;
    text-align: center;
    opacity:.8 ;
}
.thought h2{
    color: rgb(80, 127, 121);
    opacity: .4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;    
}
form {
    box-shadow: 0 10px 10px rgba(212, 162, 212, 0.1);
    max-width: 100%;
    width: 500px;
}

.input {
  font-family: "Poppins", sans-serif;
  color: #404b48c4;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  border-radius: 15px ;
  border: none;
}

.input::placeholder {
  color: #8c8989;
}

.input:focus {
  outline-color: rgb(136, 247, 181);
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #81c1c1;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #90e481e6;
  text-decoration: line-through;
}

small {
  color: #844f4fe1;
  margin-top: 5rem;
  text-align: center;
  opacity: .7;
}