@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #11141c;
  min-height: 100vh;
}

#root {
  height: 100vh;
  width: 100%;
  -webkit-background-position: top;
  background-position: top;
  background-image: linear-gradient(
      0,
      rgb(18, 20, 28, 0) 7%,
      rgb(18, 20, 28, 0) 20%
    ),
    radial-gradient(
      circle farthest-side at -170% 170%,
      #1a202c 48%,
      rgb(18, 20, 28, 0) 65%
    ),
    radial-gradient(
      circle farthest-corner at -55% -125%,
      rgb(18, 20, 28, 0) 50%,
      rgb(18, 20, 28) 70%,
      rgb(18, 20, 28, 0) 72%
    ),
    radial-gradient(
      circle farthest-corner at 0 -50%,
      rgb(18, 20, 28) 32%,
      hsla(0, 0%, 100%, 0) 62%
    ),
    radial-gradient(
      circle farthest-side at 0 -25%,
      #007252 50%,
      rgb(18, 20, 28, 0) 72%
    ),
    radial-gradient(
      circle farthest-corner at 50% -100%,
      #05f 26%,
      rgb(18, 20, 28, 0) 72%
    );
}

.filled {
  fill: deeppink;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.notification.active {
  opacity: 1;
}
