*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;  
    justify-content: center;
    align-items: center;
}


#Frame{
    height: 460px;
    width: 360px;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px blue;
    border-radius: 4%;
}


#display{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: none;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 10px rgb(82, 82, 252), inset -2px -2px 10px rgb(82, 82, 246);
    padding: 10%;
    font-size: 40px;
    text-align: end;
}

.btns{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.button{
    height: 17mm;
    width: 17mm;
    font-size: medium;
    border: none;
    box-shadow: 2px 2px 10px black;
}

.button:active{
    box-shadow: 0px 0px 0px;
}

