* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #EDEDED;
  font-family: 'Poppins', sans-serif;
}

.business-card {
  position: relative;
  border: 4px solid transparent;
  border-radius: 20px;
  background-clip: padding-box;
  z-index: 1;
  animation: floating 3s ease-in-out infinite;
}

.business-card::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 10%, #000 10.01%);
  background-size: 10px 10px;
  border-radius: 20px;
  z-index: -1;
  animation: rotateBorder 4s linear infinite;
}

@keyframes rotateBorder {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes floating {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0px);
  }
}

.card-content {
  background: linear-gradient(315deg, #9FA5D5, #E8F5C8);
  border-radius: 20px;
  padding: 20px;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: rotateY(0deg);
  transition: transform 0.5s ease, box-shadow 0.3s ease;;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: transform 0.5s ease;
}

h1 {
  font-size: 25px;
  margin-bottom: 7px;
  color: #606060;
}

p {
  font-size: 15px;
  margin-bottom: 5px;
  color: #606060;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center; 
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  font-size: 24px; 
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons a:nth-child(1) {
  color: #0077b5;
}

.social-icons a:nth-child(2) {
  color: #1DA1F2; 
}

.social-icons a:nth-child(3) {
  color: #333;
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  font-size: 14px;
}