body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    text-align: center;
}

.palette{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
}

.color-box{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font : bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin: 4px auto;
}

.generate-btn{
    padding: 14px 28px;
    background-color: #062b44;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.generate-btn:hover{
    background-color: #2980b9;
}